/* VARIABLES */

:root {
    --color-principal: #F6F8FC;
    --color-blanco-total: #FFFFFF;
    --color-boton-redactar: #C2E7FF;
    --color-contenido: #F2F6FC;
    --color-barra-buscador: #EAF1FB;
    --color-fuente: #001D35;
    --color-sidebar:#EAF1FB;
}

/* ESTILOS GENERALES */

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--color-principal);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--color-fuente)
}

/*ESTRUCTURA PRINCIPAL*/

.contenedor {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'aside header header'
    'aside contenido contenido'
    'aside footer footer';
    grid-template-columns: 1fr 5fr 5fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 10px;
}

.contenedor__menu-principal {
    grid-area: aside;
    grid-row: 1 / 4;
}

.contenedor__cabecera {
    grid-area: header;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

.contenedor__correo {
    grid-area: contenido;
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blanco-total);
    border-radius: 3rem;
}

.contenedor__footer {
    grid-area: footer;
    grid-column: 2 / 4;
}

/* AJUSTES DE CAJAS*/

.menu-principal__lista {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    text-align: center;
    background-color: var(--color-barra-buscador);
    height: 100%;
}

.cabecera__buscador {
    width: 50%;
    height: 50%;
    position: relative;
    display: inline-block;
}

.cabecera__usuario{ 
    width: 20%;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

/*AJUSTES A LOS ELEMENTOS*/

.menu-principal__logo {
    font-size: 3rem;
}

#buscadorInput {
    width: 80%;
    height: 90%;
    background-color: var(--color-sidebar);
    border-style: none;
    border-radius: 2rem;
    outline: none;
    text-align: center;
}

.buscador__boton {
    position: absolute;
    bottom: 20%;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
